<footer id="main-footer">

  <div class="flex-container">

    <div class="footer_icons">
      <a href="https://www.linkedin.com/in/rafael-fontes-baptista/" target="_blank">
        <i class="fab fa-linkedin-in fa-2x"></i>
      </a>
    </div>

    <div class="footer_icons">
      <a href="https://github.com/Rafael-Fontes-Baptista" target="_blank">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>

  </div>

  <div class="footer_text">Copyright &copy; 2021 | Rafael Baptista</div>

</footer>
  
  

</body>
</html>